<div class="content">
    <h2>Sobre nós</h2>
    <p>Bem-vindo ao Movieroll '90!

    <p>No nosso site, somos apaixonados por filmes dos anos 90 e queremos compartilhar essa paixão com você. Se você é um amante de cinema clássico, encontrou o lugar certo. Nossa missão é celebrar a melhor era do cinema, relembrando os filmes que nos marcaram tanto.</p>
            
    <p>Nossa equipe é composta por entusiastas do cinema, cinéfilos apaixonados que dedicam seu tempo e conhecimento para trazer conteúdo relevante e envolvente. Estamos constantemente pesquisando e explorando os tesouros do passado para compartilhar com você. Nosso objetivo é reviver a magia e o encanto que fizeram desses filmes verdadeiras obras-primas.</p>
            
    <p>Acreditamos que filmes antigos têm um lugar especial na história do cinema e devem ser apreciados por gerações futuras. No Movieroll, queremos preservar a herança cultural dessas obras-primas e mantê-las vivas na memória de todos os amantes do cinema. Convidamos você a se juntar a nós nessa jornada cinematográfica e explorar o fascinante mundo dos filmes antigos.</p>
            
    <p>Prepare a pipoca, ajeite-se confortavelmente e embarque em uma viagem no tempo conosco. No Movieroll, celebramos a beleza intemporal dos filmes antigos e convidamos você a fazer parte dessa comunidade apaixonada por cinema clássico.</p>
            
    <p>Divirta-se explorando nosso site e mergulhe na mágica melhor era do cinema!</p>
            
    <p>Equipe Movieroll</p>
</div>