<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./filmes.component.css"> 
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        
        <div class="content">
            
            <div class="card">
                <h2>007 Goldeneye</h2>
                <img src="../../assets/img/007-goldeneye.jpg">
            </div>
            <div class="card">
                <h2>Duro de Matar: A Vingança</h2>
                <img src="../../assets/img/duro-de-matar.jpg">
            </div>
            <div class="card">
                <h2>O Exterminador do Futuro</h2>
                <img src="../../assets/img/o-exterminador.jpg">
            </div>
        
        </div>
        
    </div>
    
</body>
</html>

