.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
    background-image:url(/assets/img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
}