<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.component.css"> 
</head>
<body>

    <div class="container">
        
        
        <div class="content-left">
            <p>Reviva os melhores momentos dos anos 90 aqui!</p>
            <p>Nosso catálogo está disposto a oferecer a melhor experiência</p>
            <p>da décanada que vai estar em nossas memórias para sempre.</p>
            <p>Junte-se a nós e venha ver nosso catálogo!</p>
            <p></p>
    
        </div>
    
        <div class="content-right">
            <a [routerLink] = "['categoria']"><img src="../../assets/img/content-right.png"></a>
        </div>
        
    </div>
    
</body>
</html>

